<div class="splash-body">
  <h1 class="splash-title">CashSync</h1>
  <hr/>
  <p class="splash-description">Sync. Budget. Thrive.</p>
  <div>
    <%= link_to 'Login', new_user_session_path, class: 'splash-btn splash-btn-primary' %>
    <%= link_to 'Signup', new_user_registration_path, class: 'splash-btn splash-btn-success' %>
  </div>
</div>
