body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
  max-width: 600px;
  margin: 0 auto; 
  text-align: center;
}

.notice{
  color: greent;
  margin: 0;
}

.alert{
  color:red;
  margin: 0;
}

@media screen and (max-width: 767px) {
  body {
      max-width: 100%;
  }
}
